<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si el archivo o carpeta existe, lo muestra normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Si no existe, redirige todo a index.php (para que Angular lo maneje)
  RewriteRule ^ index.php [L]
</IfModule>